 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 3556px;
	 height: 2000px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 3556px;
	 height: 2000px;
	 z-index:1;
} 

 #PlaceYourImageHereDo 
{ 
	 left: -30px; 
	 top: 0px; 
	 position: absolute; 
	 width: 3589px;
	 height: 2002px;
	 z-index:2;
} 

 #Shape 
{ 
	 left: 2441px; 
	 top: -96px; 
	 position: absolute; 
	 width: 1845px;
	 height: 167px;
	 z-index:3;
} 

 #Shape_0 
{ 
	 left: 828px; 
	 top: 1914px; 
	 position: absolute; 
	 width: 167px;
	 height: 158px;
	 z-index:4;
} 

 #Shape_1 
{ 
	 left: -417px; 
	 top: 1914px; 
	 position: absolute; 
	 width: 1248px;
	 height: 216px;
	 z-index:5;
} 

 #Shape_2 
{ 
	 left: 1109px; 
	 top: 1109px; 
	 position: absolute; 
	 width: 1337px;
	 height: 142px;
	 z-index:6;
} 

 #Shape_3 
{ 
	 left: 140px; 
	 top: 583px; 
	 position: absolute; 
	 width: 411px;
	 height: 784px;
	 z-index:7;
} 

 #Shape_4 
{ 
	 left: 1019px; 
	 top: 561px; 
	 position: absolute; 
	 width: 181px;
	 height: 182px;
	 z-index:8;
} 

 #Shape_5 
{ 
	 left: 2369px; 
	 top: 598px; 
	 position: absolute; 
	 width: 108px;
	 height: 107px;
	 z-index:9;
} 

 #Shape_6 
{ 
	 left: 2592px; 
	 top: 311px; 
	 position: absolute; 
	 width: 448px;
	 height: 235px;
	 z-index:10;
} 

 #Shape_7 
{ 
	 left: 1108px; 
	 top: 1368px; 
	 position: absolute; 
	 width: 573px;
	 height: 115px;
	 z-index:11;
} 

 #Shape_8 
{ 
	 left: 1871px; 
	 top: 1368px; 
	 position: absolute; 
	 width: 574px;
	 height: 115px;
	 z-index:12;
} 

 #Date 
{ 
	 left: 1694px; 
	 top: 1670px; 
	 position: absolute; 
	 width: 168px;
	 height: 55px;
	 z-index:13;
} 

 #Button 
{ 
	 left: 1163px; 
	 top: 1408px; 
	 position: absolute; 
	 width: 463px;
	 height: 34px;
	 z-index:14;
} 

 #Button_0 
{ 
	 left: 2032px; 
	 top: 1408px; 
	 position: absolute; 
	 width: 251px;
	 height: 34px;
	 z-index:15;
} 

 #Subtitle 
{ 
	 left: 1352px; 
	 top: 1151px; 
	 position: absolute; 
	 width: 852px;
	 height: 73px;
	 z-index:16;
} 

 #Title 
{ 
	 left: 1307px; 
	 top: 590px; 
	 position: absolute; 
	 width: 948px;
	 height: 339px;
	 z-index:17;
} 

 #Subtitle_0 
{ 
	 left: 1433px; 
	 top: 431px; 
	 position: absolute; 
	 width: 686px;
	 height: 55px;
	 z-index:18;
} 

 #WhatsApp 
{ 
	 left: 936px; 
	 top: 139px; 
	 position: absolute; 
	 width: 57px;
	 height: 57px;
	 z-index:19;
} 

 #Twitter 
{ 
	 left: 855px; 
	 top: 139px; 
	 position: absolute; 
	 width: 57px;
	 height: 57px;
	 z-index:20;
} 

 #Facebook 
{ 
	 left: 774px; 
	 top: 139px; 
	 position: absolute; 
	 width: 57px;
	 height: 57px;
	 z-index:21;
} 

 #Instagram 
{ 
	 left: 693px; 
	 top: 139px; 
	 position: absolute; 
	 width: 57px;
	 height: 57px;
	 z-index:22;
} 

 #Color 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 3556px;
	 height: 2000px;
	 z-index:23;
} 

 #Icon 
{ 
	 left: 1324px; 
	 top: 137px; 
	 position: absolute; 
	 width: 56px;
	 height: 57px;
	 z-index:24;
} 

 #Icon_0 
{ 
	 left: 1479px; 
	 top: 138px; 
	 position: absolute; 
	 width: 61px;
	 height: 59px;
	 z-index:25;
} 

 #Text 
{ 
	 left: 3242px; 
	 top: 152px; 
	 position: absolute; 
	 width: 154px;
	 height: 25px;
	 z-index:26;
} 

 #Text_0 
{ 
	 left: 2816px; 
	 top: 152px; 
	 position: absolute; 
	 width: 180px;
	 height: 25px;
	 z-index:27;
} 

 #Text_1 
{ 
	 left: 2234px; 
	 top: 152px; 
	 position: absolute; 
	 width: 337px;
	 height: 25px;
	 z-index:28;
} 

 #Text_2 
{ 
	 left: 1894px; 
	 top: 152px; 
	 position: absolute; 
	 width: 95px;
	 height: 25px;
	 z-index:29;
} 

 #PlaceYourLogoHereDou 
{ 
	 left: 142px; 
	 top: 115px; 
	 position: absolute; 
	 width: 283px;
	 height: 92px;
	 z-index:30;
} 
